/* Configuração base */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f4f7f6;
}

.register__container {
  background: white;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

/* Header */
.register__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.register__icons img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.register__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.register__subtitle {
  color: #666;
  font-size: 0.9rem;
  margin: 0;
}

/* Formulário (Grid) */
.register__form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colunas */
  gap: 20px;
}

.form__group--full {
  grid-column: span 2; /* Nome ocupa as 2 colunas */
}

.form__group label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  color: #444;
}

.form__group input,
.form__group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.form__group input:focus,
.form__group select:focus {
  border-color: #d32f2f;
}

/* Botão */
.form__actions {
    display: flex;
    align-items: center;
    justify-content: center;

  margin-top: 10px;
}

.btn-primary {
    
  width: 50%;
  padding: 14px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: #b71c1c;
}

/* RESPONSIVIDADE (Celulares) */
@media (max-width: 600px) {
  .register__form {
    grid-template-columns: 1fr; /* 1 coluna no celular */
  }

  .form__group--full,
  .form__actions {
    grid-column: span 1; /* Reset para 1 coluna */
  }
}